
# Created by https://www.gitignore.io/api/linux

### Linux ###
*~

# temporary files which can be created if a process still has a handle open of a deleted file
.fuse_hidden*

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

emacs/.emacs.d/ergoemacs-extras/
emacs/.emacs.d/var/
firefox/
enlightenment/
byond/
dotter/
ruby/
python/
ssh/
docker/
keepassx/
notes/
mime/
xchat/
ohmyzsh/
!ohmyzsh/.oh-my-zsh/custom
/emacs/.emacs.d/smex-items
/emacs/.emacs.d/places
/emacs/.emacs.d/ido.last
/emacs/.emacs.d/ac-comphist.dat
chrome-*
sublimetext/.config/sublime-text-3/Cache
sublimetext/.config/sublime-text-3/Packages/User/Package Control.cache
sublimetext/.config/sublime-text-3/Local/Session.sublime_session
sublimetext/.config/sublime-text-3/Installed Packages/
sublimetext/.config/sublime-text-3/Local/
