[Desktop Entry]
Name=Uninstall Origin
Exec=env WINEPREFIX="/home/samis/.wine" wine C:\\\\windows\\\\command\\\\start.exe /Unix /home/samis/.wine/dosdevices/c:/users/Public/Start\\ Menu/Programs/Origin/Uninstall\\ Origin.lnk
Type=Application
StartupNotify=true
Path=/home/samis/.wine/dosdevices/c:/Program Files (x86)/Origin
Icon=F6B7_OriginUninstall.0
