[Desktop Entry]
Hidden=false
GenericName[en_GB]=Text Editor
Name[en_GB]=Emacs
Exec=emacs %F
Icon=emacs
Comment[en_GB]=Edit text
Type=Application
NoDisplay=false
Version=1.0
MimeType=text/english;text/plain;text/x-makefile;text/x-c++hdr;text/x-c++src;text/x-chdr;text/x-csrc;text/x-java;text/x-moc;text/x-pascal;text/x-tcl;text/x-tex;application/x-shellscript;text/x-c;text/x-c++;
StartupNotify=false
StartupWMClass=Emacs
Comment=Edit text
DBusActivatable=false
Categories=Development;TextEditor;
Terminal=false
Icon[en_GB]=emacs
Name=Emacs
GenericName=Text Editor
