[Desktop Entry]
Type=Application
Name=Powder Toy
Comment=Physics sandbox game
MimeType=application/vnd.powdertoy.save;
NoDisplay=true
Exec=/usr/bin/powder-toy open %f
