[Desktop Entry]
Type=Application
Name=Powder Toy
Comment=Physics sandbox game
MimeType=x-scheme-handler/ptsave;
NoDisplay=true
Exec=/usr/bin/powder-toy ptsave %u
