[Desktop Entry]
Type=Application
Name=Dream Maker
MimeType=application/x-wine-extension-dmi;
Exec=env WINEPREFIX="/home/samis/.wine32_ss13" wine start /ProgIDOpen BYOND.dmi_file %f
NoDisplay=true
StartupNotify=true
Icon=2182_dreammaker.0
