[Desktop Entry]
Name=Uninstall NetCut
Exec=env WINEPREFIX="/home/samis/.wine" wine C:\\\\windows\\\\command\\\\start.exe /Unix /home/samis/.wine/dosdevices/c:/users/Public/Start\\ Menu/Programs/arcai.com/Uninstall\\ NetCut.lnk
Type=Application
StartupNotify=true
Path=/home/samis/.wine/dosdevices/c:/Program Files (x86)/netcut
Icon=19E0_unins000.0
